In [1]:
number = 0
days = 0
week =["mon","tue","tue","wed","thu","fri","sat"]
while days<7:
    print("today is "+week [days])
    days+=1

today is mon
today is tue
today is tue
today is wed
today is thu
today is fri
today is sat

In [2]:
number = 0
type = 0
clr = ["violet", "blue", "green", "yellow", "orange", "indigo", "red"]

while number < 7:  
    print("Rainbow has " + clr[type])
    number += 1  
    type = (type + 1) % 7

Rainbow has violet
Rainbow has blue
Rainbow has green
Rainbow has yellow
Rainbow has orange
Rainbow has indigo
Rainbow has red

In [3]:
x = input("enter three word message")

enter three word message welcome to pwskills

In [4]:
x

'welcome to pwskills'

In [9]:
a = int(input("enter 1st number"))
b = int(input("enter 2nd number"))
print(a+b)

enter 1st number 12
enter 2nd number 12

24

In [10]:
x = input("enter two number sepatated by spaces")
sum=int(x.split()[0])+int(x.split()[1])
print(sum)

enter two number sepatated by spaces 6 8

14

In [12]:
x = input("enter two number separated by spaces")
mul=int(x.split()[0])*int(x.split()[1])
print(mul)

enter two number separated by spaces 6 3

18

In [14]:
a,b = input("enter two number").split()
c = int(a)+int(b)
print(c)

enter two number 6 7

13

In [17]:
s = input("enter roll number,name & percentage")
roll,name,percentage=s.split()
print(roll)
print(name)
print(percentage)

enter roll number,name & percentage 12 Dhruv 87

12
Dhruv
87

In [19]:
s1 = "A B C D E F"
print(s1.split(' ',4))

['A', 'B', 'C', 'D', 'E F']

In [24]:
s1 = "pw@pw@pw@pw@pw@pw@"
(s1.split('@',5))

['pw', 'pw', 'pw', 'pw', 'pw', 'pw@']

In [25]:
for letter in "pwskiils":
    print('letter',letter)

letter p
letter w
letter s
letter k
letter i
letter i
letter l
letter s

In [1]:
for letter in "pwskills":
    if letter == "l":
        break
    print('letter',letter)

letter p
letter w
letter s
letter k
letter i

In [2]:
for letter in "welcometopwskills":
    if letter == "p":
        break
    print('letter',letter)

letter w
letter e
letter l
letter c
letter o
letter m
letter e
letter t
letter o

In [3]:
i = 1
while i<=10:
    print(i)
    if i>=5:
        break
    i = i+1

1
2
3
4
5

In [1]:
i = 1
while i<=15:
    print(i)
    if i>=9:
        break
    i = i+1

1
2
3
4
5
6
7
8
9

In [2]:
numbers = [10,20,30,40,120,140,150,130]
for i in numbers:
    if i>120:
        break
    print(i)

10
20
30
40
120

In [4]:
for i in range(5):
    if i == 4:
        break
    print(i)

0
1
2
3

In [5]:
s = "hello ,world"
for char in s:
    print(char)
    if char==',':
        break

h
e
l
l
o

,

In [8]:
s = "dhruv ,goswami"
for char in s:
    print(char)
    if char==',':
        break

d
h
r
u
v

,

In [9]:
s = "dhruv ,goswami"
for char in s:
    print(char)
    if char==' , ':
        break

d
h
r
u
v

,
g
o
s
w
a
m
i

In [11]:
for letter in "pwskills":
    if letter == 'i':
        continue
    print(letter)

p
w
s
k
l
l
s

In [12]:
for i in range(10):
    if i == 9:
        continue
    print(i)

0
1
2
3
4
5
6
7
8

In [13]:
for i in range(11):
    if i == 9:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
10

In [15]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [16]:
for i in range(2,16):
    if i%2==0:
        continue
    print(i)

3
5
7
9
11
13
15

In [17]:
for i in range(1,11):
    if i%3==0:
        continue
    print(i)

1
2
4
5
7
8
10

In [18]:
for i in range(1,11):
    if i%2!=0:
        print(i)
    else:
        continue

1
3
5
7
9

In [19]:
for i in range(1,11):
    if i%3!=0:
        print(i)
    else:
        continue

1
2
4
5
7
8
10

In [26]:
for i in range(5):
    if i==1:
        pass
    
print(i)

4

In [24]:
for i in range(10):
    if i == 1:
        pass
print(i)

9

In [1]:
for i in range(10):
    if i == 1:
        pass
print(i)

9

In [2]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [3]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [4]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero")

Cannot divide by zero

In [5]:
for i in range(3):
    for j in range(3):
        print(f"({i}, {j})")

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)

In [6]:
for i in range(5):
    if i == 3:
        pass
    else:
        print(i)

0
1
2
4

In [7]:
for i in range(10):
    if i == 1:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [18]:
x = 5
if x < 0:
    print("x is negative")
elif x == 0:
    print("x is zero")
else:
    print("x is positive")

x is positive

In [19]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [20]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [21]:
string = "Hello, world! This is a test."
result = string.split()
print(result)

['Hello,', 'world!', 'This', 'is', 'a', 'test.']

In [23]:
string = "apple,banana,orange,grapes"
result = string.split(',', maxsplit=2)
print(result)

['apple', 'banana', 'orange,grapes']

In [29]:
x = input("enter two number sepatated by spaces")
mul=int(x.split()[0])*int(x.split()[1])
print(mul)

enter two number sepatated by spaces 5 8

40

In [30]:
s = input("enter roll number,name & percentage")
roll,name,percentage=s.split()
print(roll)
print(name)
print(percentage)

enter roll number,name & percentage 55 sudh 98

55
sudh
98